body{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Helvetica', 'Arial', sans-serif;
}

.title {
    padding: 10px;
    font-size: 200%;
}

ul {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
  }

.container{
    display: flex;
    align-self: center;
    justify-content: center;
    align-items: center;
    
}

.cards {
    display: flex;
    padding: 0;
    margin: 0; 
    /*outline: dashed 5px red;*/
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 25vw;
    line-height: 25vw;
    /*outline: dashed 2px blue;*/
}

.diamonds, .hearts {
    color: red;
}

.clubs, .spades {
    color: black;
}

.card>button{
    padding: 3px;
    width: 8vw;
    
}